services:
  db:
    image: postgres:16
    container_name: boutique_db
    restart: always
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypass
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - django_net

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env
    environment:
      DB_NAME: mydb
      DB_USER: myuser
      DB_PASSWORD: mypass
      DB_HOST: db
      DB_PORT: 5432
    networks:
      - django_net

  pgadmin:
    image: dpage/pgadmin4:8
    container_name: pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - django_net

volumes:
  postgres_data:
  pgadmin_data:

networks:
  django_net:
    driver: bridge
